<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esheba Services</title>
  </head>
  <body>
    <div class="services under category">
      <h2>Services</h2>

      <% if (services.length > 0) { %> <% services.forEach(service => { %>
      <h3 class="title"><%= service.NAME %></h3>
      <p class="description">
        <strong>Description: </strong> <%= service.DESCRIPTION %>
      </p>
      <p class="cost"><strong>Cost: </strong><%= service.COST %></p>
      <% }) %> <% } else { %>
      <p>There are no services to display...</p>
      <% } %>
    </div>
  </body>
</html>
