<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        text-decoration: solid;
        list-style: none;
        box-sizing: border-box;
      }
      body {
        font-family: montserrat;
        margin: 0 auto;
      }
      nav {
        background: #0082e6;
        height: 80px;
        width: 100%;
        margin: 0 auto;
      }
      label.logo {
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        margin: 0 auto;
      }
      nav ul {
        float: right;
        margin-right: 20px;
      }
      nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a {
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
      }
      .log-out-btn {
        background: white;
        color: black;
        font-size: 20px;
        padding: 5px;
      }

      a:hover {
        background: #1b9bff;
        transition: 0.5s;
      }
    </style>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <label class="logo">ESheba</label>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a class="active" href="/api/category/all ">Categories</a></li>
        <li><a href="#">Offers</a></li>
        <li><a href="/api/services/carts">Cart</a></li>
        <li><a href="#">Order Status</a></li>
        <li>
          <form
            action="/api/services/logout"
            method="POST"
            class="my-logout-form"
          >
            <input type="submit" value=" LogOut " class="log-out-btn" />
          </form>
        </li>
      </ul>
    </nav>
  </body>
</html>
