<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESheba</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img src="logo.jpg" class="logo" />
        <ul>
          <li>
            <a href="<%= signup %>"> Customer Sign Up </a>
          </li>
          <li>
            <a href="<%= login %>"> Customer Log In </a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h1>MAKE YOUR LIFE EASIER WITH ESHBEA</h1>
        <p>Join Esheba today to get amazing services</p>
        <!-- <button type="button"><a href="#"></a> Log In Customer</button> -->
      </div>
    </div>
  </body>
</html>
