<style>
  a {
    color: white;
  }
</style>
<div
  class="my-container container align-bottom"
  style="text-align: center; background-color: black; color: white"
>
  <hr />
  <div class="text-center">Created by ARA and MMP</div>
  <div class="text-center">
    A copy of <a href="https://www.sheba.xyz/"> SHEBA.XYZ </a>
  </div>
  <br />
  <br />
</div>
