<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=
    <select id="volume">
      <% var options = [ "1", "5", "10", "50", "75", "100" ]; for ( var i = 0; i
      < options.length; i++ ) { var selected = ( config[0].volume == i ) ?
      "selected" : ""; %>
      <option value="<%=options[ i ] %>" <%="selected" %>><%=i %></option>
      <% } %>
    </select>
    , initial-scale=1.0">
    <title>Document</title>
  </head>
  <body></body>
</html>
